
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <p>
            <h3> Why do we use it?</h3>
            It is a long established fact that a reader will be distracted by the <br />
            readable content of a page when looking at its layout. The point of<br />
            using Lorem Ipsum is that it has a more-or-less normal distribution <br />
            of letters, as opposed to using 'Content here, content here',<br /> 
            making it look like readable English. Many desktop publishing <br />
            packages and web page editors now use Lorem Ipsum as their<br />
            default model text, and a search for 'lorem ipsum' will uncover<br />
            many web sites still in their infancy. Various versions have evolved
            <br />over the years, sometimes by accident, sometimes on purpose<br /> 
            (injected humour and the like).

        </p>
    </div>
</body>
</html>
