
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blogs</title>
</head>
<body>
    <div> 
        <p>
            Welcome to the Dummy Text Generator!<br />
            This handy tool helps you create dummy text for all your layout needs.<br />

            We are gradually adding new functionality and we welcome your suggestions and feedback.<br />

            Please feel free to send us any additional dummy texts.<br>
        </p>
    </div>
</body>
</html>
