
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div> 
        <address>
            Forum App Internet Private Limited, <br />

            Buildings Alyssa, Begonia &<br />

            Clove Embassy Tech Village,<br />

            Outer Ring Road, Devarabeesanahalli Village,<br />

            Bengaluru, 560103,<br />

            Karnataka, India<br />

            CIN : U51109KA2012PTC066107<br />

            Telephone: 044-45614700
        </address>
    </div>
</body>
</html>
